################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Astalo
/bin/Debug/net6.0
/obj
/Astalo.csproj.user
